Repository SOLVE-IT-DF/solve-it, pull requests merged in 2025-08, with the labels that each got.

#128 Adds output path variation to .gitignore
  .gitignore
Labels: code update

#127 Further keyword searching updates
  data/mitigations/M1032.json
  data/mitigations/M1033.json
  data/mitigations/M1034.json
  data/mitigations/M1142.json
  data/mitigations/M1151.json
  data/mitigations/M1152.json
  data/mitigations/M1153.json
  data/techniques/T1123.json
  data/techniques/T1125.json
  data/weaknesses/W1057.json
  data/weaknesses/W1059.json
  data/weaknesses/W1192.json
  data/weaknesses/W1195.json
  data/weaknesses/W1199.json
  data/weaknesses/W1200.json
Labels: content: update technique, content: new weakness, content: update weakness, content: new mitigation, content: update mitigation

#106 Technique: app change detection
  data/mitigations/M1139.json
  data/mitigations/M1140.json
  data/solve-it.json
  data/techniques/T1119.json
  data/techniques/T1120.json
  data/weaknesses/W1172.json
  data/weaknesses/W1189.json
  data/weaknesses/W1190.json
  data/weaknesses/W1191.json
Labels: content: new technique, content: new weakness, content: new mitigation
